:root{
    --primary-brand-color:#4D5AE5;
    --title-text-color:#2E2F42; 
    --description-text-color:#434455;
    --background-color:#fff;
    --backgroung-dark-color: #404BBF;
    --backgroung-light-color:#F4F4FD; 

}

.site-body {
color:var(--description-text-color);
font-family: 'Roboto', sans-serif;
font-size: 16px;    
background-color: var(--background-color);
    
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }



.header{

}
.header-navigation{

}
.header-logo{
font-family: 'Raleway', sans-serif;
font-weight: 800;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-color);

}
.header-web{
color: #4D5AE5;

}
.header-list{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--title-text-color);

}
.header-item{

  }  
.header-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--description-text-color);

}

.header-link:hover{
    color: var(--backgroung-dark-color);
}
.header-link:focus{
    color: var(--backgroung-dark-color);
}

.header-contact{

}

.header-mail,
.header-tel{

}

.contact-link{
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--description-text-color);
}

.contact-link:hover{
    color: var(--backgroung-dark-color);
}
.contact-link:focus{
    color: var(--backgroung-dark-color);
}
.main-section{
    background-color: var(--title-text-color);
    color: var(--background-color);
}

.main-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-color);
    
}
.section-btn{
font-family: 'Roboto', sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 1.07;
letter-spacing: 0.04em;
color: var(--background-color);
background: var(--primary-brand-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border:none;
cursor: pointer;
}

.section-btn:hover{ 
background-color: var(--backgroung-dark-color);
    }
.section-btn:focus{
    background-color: var(--backgroung-dark-color);  
}
.merits-section{
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--description-text-color);
}

.merits-title{
    
}

.merits-list{

}
.merits-item{

}
.merits-heading{
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-text-color);
}

.merits-paragraph{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--description-text-color);

}

.services-section{


}
.services-title,
.team-title {
font-size: 36px;
font-weight: 700;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--title-text-color);
}



.services-list{

}
.services-item{

}

.serices-img{

}

.team-section{
background-color: var(--backgroung-light-color);



}

.team-title{

}
.team-list{


}
.team-item{

background-color: var(--background-color);
}

.team-img{

}

.team-member{
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-text-color);

}

.team-paragraph{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--description-text-color);
}

.footer-section{
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
background: var(--title-text-color);
}

.footer-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
line-height: 1.1;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--backgroung-light-color);
}

.footer-web{
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
line-height: 1.1;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-brand-color);

}
.footer-paragraph{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}



.menu-section{
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--description-text-color);
}


.menu-header{

}

.menu-list{

}

.menu-item{

}

.menu-btn{
font-family: 'Roboto';
font-weight: 600;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
color: var(--primary-brand-color);
background: var(--backgroung-light-color);
border: 1px solid #E7E9FC;
border-radius: 4px;
cursor: pointer;
}

.menu-btn:hover
{ 
    background-color: var(--backgroung-dark-color);
    color: var(--background-color);
    }
.menu-btn:focus{
    background-color: var(--backgroung-dark-color);
    color: var(--background-color); 
}

.portfolio-title{

}

.portfolio-list{

}

.portfolio-item{
border: 0.5px solid var(--backgroung-light-color);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

}
.portfolio-item:hover{
border: 0.5px solid var(--backgroung-light-color);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
0px 1px 1px rgba(46, 47, 66, 0.16), 
0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--description-text-color); 
}

.portfolio-img{

}

.portfolio-heading{
font-size: 20px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-text-color);
}